nav {
	color: #11178F;
}

.navbar-brand img {
	background-color: "#fff";
	border-radius: 20px;
}

body.banner {
	background-color: "#424AF1";
}

footer .contact {
	float: right;
}

/* the CSS for the T-Drive */
#T-Drive {
	width: 900px;
	height: auto;
}
div#MeterGauge, div#MeterGauge2 {
	background-color: #fafafa;
	margin: 0px;
	padding: 0px;
}
div#MeterGauge {
	float: left;
}
div#MeterGauge2 {
	float: right;
}